
  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo right"><img src="/assets/img/Logo.png" width="75" heigth="75"></a>
      <ul id="nav-mobile" class="left hide-on-med-and-down">
        <li><a href="/clientes">Clientes</a></li>
        <li><a href="/vehiculos">Vehiculos</a></li>
        <li><a href="ventaservicios">Venta de Servicios</a></li>
        <li><a href="/servicios">Servicios</a></li>
        <li><a href="/administradores">Administradores</a></li>
        <li><a href="/seguridad/login">Login</a></li>
        <li><a href="/seguridad/logout">Logout</a></li>
      </ul>
    </div>
  </nav>